
#game {
    width: 50%;
    line-height: 200%;
    margin: 0 auto;
    border: solid 2px rgb(20, 20, 20);
    border-radius: 5%;
    padding: 20px;
}


h1, p {
	margin-bottom: 20px;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: 700;
    font-size: 30px;
	line-height: 50px;
	border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
}
